		body{
			background-image: url(https://image.freepik.com/foto-gratis/ingredientes-pasta-italiana-sobre-fondo-negro_23-2147926112.jpg);
			background-repeat: no-repeat;
			background-size: 100% 100%;	
		}

		h1{
			color: red;
		}
		
		img{
			width: 400px;
			height: 250px;
		}
		
		#thirdDiv{
			height: 600px;
			width: 500px;
			background-color: aquamarine;
			padding: 50px;
			border: 5px double blue;
		}

		#spanId{
			color: white;
			font-size: 18px;
			margin: 50px;
			display: block;
		}	
		body{
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		.divClass{
			display: flex;
			flex-direction: column;
			align-items: center;
		}